[submodule "Development Resources/OpenGenerationWizardPlugin"]
	path = Development Resources/OpenGenerationWizardPlugin
	url = https://github.com/SurroundTechnologies/AcceleratorSolutionDemo_EasyBuyCycles.git
