[submodule "Development Resources/AcceleratorOpenGenerationWizardPlugin"]
	path = Development Resources/AcceleratorOpenGenerationWizardPlugin
	url = https://github.com/SurroundTechnologies/AcceleratorOpenGenerationWizardPlugin.git
